/**
 * Colors
 *
 *
 *
 *
 *
 *
 * Heritage Red:
 * #b30838
 *
 * #b30033
 * #b30737
 * #cb2549
 * #cc2549
 * #cd2549
 *
 * Seminary Gold:
 * #bb813b
 *
 * #ce9450
 * #b57027
 * #e8b67d
 *
 */


/**
 * Reds
 */
$heritage-red: #b30737;
$heritage-red-dark: #830629;

/**
 * Golds
 */
$heritage-gold: #bb813b;
$heritage-gold-dark: #664721;


/*
  White
 */
$heritage-white: #eeffff;

/*
  Black
 */
$heritage-black: #2b2b2b;

/*
  Complementary color
 */
$heritage-complimentary: #557766;
$heritage-complimentary-grey: #738c80;
$heritage-complimentary-grey-75: #b9c6bf;
$heritage-complimentary-grey-90: #e3e8e6;
$heritage-complimentary-grey-95: #f1f4f2;

$hcs-gold-grey-50: #998266;
$hcs-gold-grey-75: #ccc1b3;
$hcs-gold-grey-90: #ebe6e0;
$hcs-gold-grey-95: #f5f3f0;




/**
 * Greys
 */
$grey-75: #bfbfbf;
$grey-50: #808080;
$grey-25: #404040;
$grey-medium: #555353;
$grey-light-text: #b3b3b2;


/**
 *
 */
$highlight: #b57027;
$highlight-green: #00cc66;
$highlight-red: $heritage-red;

/**
 * Backgrounds
 */
$dark-background: #720523;


/**
 * Text
 */
$text-light: #eeffff;
