/**
 * Links.  Anchors.
 */


a, a:hover, a:active {
  text-decoration: none;
  color: $heritage-red;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited, a.color-text-visited {
  color: $heritage-gold;
};

.background-dark a, .background-dark a:visited {
  color: #eabbc8;
}










.edit-category-link a, .edit-category-link a:visited {
 color: $heritage-red;
}

.edit-category-link a:hover, .edit-category-link a:active, .edit-category-link a:focus {
 color: $heritage-red;
 text-decoration: underline;
}




.hcs-link-with-button-padding {
  padding: 0.5rem 0.5rem;
}
