

/**
 * Go get the fonts
 * @type {[type]}
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600|Merriweather:300,700,900i');

/*
Set font families.
 */
$primaryHeadings: 'Merriweather', Georgia, serif;
$primaryBody: 'Work Sans', sans-serif;






/*
Default font family and size.
 */
html {
  font-family: $primaryBody;
  font-size: 18px;
  line-height: 1.3em;
}


/*
Default heading styles.
 */
.display, h1, h2, h3, h4, h5, h6 {
  font-family: $primaryHeadings;
  margin: 0.625em 0;
  line-height: 1.3em;
}

.display {
  font-size: 3rem;
  font-weight: 900;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h6 {
  font-family: $primaryBody;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $heritage-complimentary-grey;
}

a,
button,
caption,
fieldset,
legend,
figcaption,
label,
input,
select,
option,
textarea,
li,
p,
td {
  font-family: $primaryBody;
  font-weight: 300;
}

p {
  display: block;
  margin: 1em 0;
}

p.lead {
  font-size: 1.25rem;
  font-weight: 400;
}

legend {
  font-family: $primaryBody;
}

textarea[id="import-csv"], code, .price {
  font-family: "Lucida Console", monospace;
  font-size: 0.825rem;
}

.background-dark {
  color: $text-light;
}

.hcs-red {
  color: $heritage-red;
}

.extra-bold {
  font-weight: 900;
}









/*
Text Sizing
 */
.text-huge {
  font-size: 5rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.text-small {
  font-size: 0.75rem;
}


/*
  Text Transforming
 */
.capitalize {
  text-transform: capitalize;
}
