/**
 * Theme form stylesheet.
 */

.btn-item {
  display: block;
  float: left;
  margin: 0 0.3333333% 0.2rem;
  padding: 0 0.25em;
  width: 16%;
  height: 4rem;
  font-size: 0.85em;
  line-height: 1.125em;
  overflow: hidden;
}

.btn-item-featured {
  margin: 0 0.25% 0.2rem;
  width: 12%;
}

.btn-item-category {
  height: 3rem;
}

.btn-item-edit {
  font-size: 0.75em;
  padding: 0.175rem 0.625rem;
}

.btn-edit-featured-item {
  font-family: $primarySans;
}

.form-label-required {
  color: $heritage-red;
}

.input-error-field, .input-error-field:hover, .input-error-field:focus {
  border: 3px solid $heritage-red;
}









/* Panel Forms */
.panel-short-form {
}

.panel-short-form label,
.panel-short-form select,
.panel-short-form input {
  width: 50%;
}

.panel-short-form .btn-primary,
.panel-short-form .btn-credit-account-cancel {
  width: 5em;
}

.panel-short-form form label:nth-of-type(1) {
  margin-top: 0;
}
