/**
 * Additional Header Styles
 */
.site {
  padding: 0 0.5em;
}

.site-header-inner {
  position: relative;
}




/**
 * Bonus navigation styles
 */
.site-navigation ul {
}
.site-navigation ul li:nth-last-of-type(1) {
  margin-left: auto;
}
