/*
  CSS Style File

  For: Heritage Cafeteria
 */
.account-details-transaction-history td:nth-child(1) {
  text-align: right;
  width: 5em;
}

.account-details-transaction-history td:nth-child(2) {
  padding-left: 1em;
  width: 12em;
}

.account-details-transaction-history td:nth-child(4),
.account-details-transaction-history td:nth-child(5),
.account-details-transaction-history td:nth-child(6) {
  text-align: right;
  font-family: "Lucida Console", monospace;
  width: 8em;
}

.account-action-forms {
  margin-bottom: 1em;
}