/**
 * Print stylesheet.
 */






@media print {
  .site-header, .nav-secondary, .btn {
    display: none;
  }

  html {
    font-size: 12px;
  }

  table {
    box-shadow: none;
  }

  .sales-data {
    border: 1px solid $grey-75;
  }

  .table-summary {
    border-top: 1px solid $grey-75;
  }
}
