/*
  CSS Style File

  For: Heritage Cafeteria
 */


/*
  Variables
 */
$siteUrl: 'http://cafe.dev/';




/*******************************************************************************
 * Typography
 ******************************************************************************/
$primarySans: 'myriad-pro', Tahoma, sans-serif;
$primarySerif: 'minion-pro', serif;
$primaryMonospace: 'Lucida Console', monospace;

.kind-heading {
  font-weight: bold;
  text-transform: capitalize;
}







/**
 * Default logo
 */
.banner-logo {
  max-width: 150px;
}









/**
 * Default Element Styles
 */

h1 {
  margin: 0.5rem 0 1rem;
}

p.log {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: $primaryMonospace;
  font-size: 0.785rem;
  line-height: 1.3em;
}

.hidden {
  display: none;
}

















/**
 * Links
 */
nav a, nav a:visited {
  color: $heritage-black;
}

.a-strikethrough, .a-strikethrough:visited, .edit-category-link a.a-strikethrough:focus, .edit-category-link a.a-strikethrough:hover {
  text-decoration: line-through;
}



















a.site-link-active {
  font-weight: 700;
  color: #cc2549nav
}

.secondary-nav-link-active {
  background: $grey-75;
}

.edit-category-link a, .edit-category-link a:visited {
  color: #b30033;
}

.edit-category-link a:hover, .edit-category-link a:active, .edit-category-link a:focus {
  color: #800000;
  text-decoration: underline;
}




/* Category navigation in the Store */
.nav-teriary ul {
  background: #eddbc5;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-teriary ul li a {
  font-size: 1rem;
  display: block;
  margin: 0;
  padding: 0.5em 1.25em;
}









/* User navigation */
.user-navigation {
  position: absolute;
  top: 0;
  right: 0;
}

.user-navigation, .user-navigation ul, .user-navigation ul li {
  margin-right: 0;
  padding-right: 0
}

.user-navigation ul {
  margin: 0;
  padding: 0.5em 0;
}

.user-navigation ul li {
  display: inline-block;
  line-height: 1.7em;
  font-size: 1em;
  text-align: right;
}

.user-navigation ul li:first-of-type {
  font-size: 1.25em;
  font-family: $primarySans;
}

.user-navigation ul li a {
  color: #b30838;
}

.user-navigation ul li a:hover {
  color: #8e2f4a;
  text-decoration: underline;
}

.user-navigation ul li:last-of-type a {
  padding-right: 0;
}














/**
 * Tables
 */
.table-summary td {
  font-family: $primarySans;
  font-size: 1em;
  font-weight: 700;
}

.table-summary td:first-of-type {
  text-align: right;
}

.table-summary td.price {
  font-family: $primaryMonospace;
  font-size: 0.825em;
}









/**
 * Modals
 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1;
}

.modal-dialog {
  margin: 20% auto;
  width: 50%;
  max-width: 20rem;
  background: #f6eee4;
}

.modal .btn-primary {
  display: block;
  margin: 0 auto;
  width: 6rem;
}

.modal ul {
  list-style: none;
}

.modal li {
  display: flex;
  margin-bottom: 0.375em;
}

.modal-label, .modal-price {
  display: block;
}
.modal-label {
  width: 60%;
}

.modal-price {
  width: 40%;
}
















/*******************************************************************************
 * Layout
 ******************************************************************************/
/**
 * Big Blocks
 */










/**
 * Grid
 */





























/*******************************************************************************
 * CONTENT
 ******************************************************************************/
/**
 * Body
 */
.site {
  margin: 0 auto;
  padding: 0 0.5em;
}

.site-header, .site-content, .site-header-inner, .site-footer {
  max-width: 1024px;
  margin: 0 auto;
}






/**
 * Footer
 */
.dev-stats {
  display: inline;
  text-align: center;
}





/**
 * Content
 */
.site-content-inner {
  margin-top: 1em;
}

.logo-container {
  float: left;
}

.logo-container {
  margin: 0.375em 1em 0 0;
}






/*
  Sections
 */
section {
  margin-bottom: 1em;
}

.section-header h2, .section-header h3 {
  margin: 0 0.5em;
}

.section-header, .section-body, .section-footer {
  padding: 0.75em 0.375em;
}

.section-header {
  background: #c3863c;
  margin: 0;
  padding: 0.3125em 0.375em;
}

.section-footer {
  background: #eddbc5;
}









/*
  Store
 */
section.store-block {
  background: #f6eee4;
}

section.store-block ul {
  list-style-type: none;
}

section.items {
  padding-bottom: 1em;
  margin: 0;
  border-bottom: 2px solid #dbcebd;
  min-height: 10em;
}

section.totals {
  padding: 0.5em 0 0;
  margin: 0;
}

section.totals ul, section.items ul {
  margin: 0; padding: 0;
}

section.items li, section.totals li {
  line-height: 1.7rem;
}

section.items .item {
  width: 65%;
  float: left;
}

section.items .item-taxcode {
  width: 5%;
  float: left;
  text-align: right;
}

section.items .price {
  width: 30%;
  float: right;
}

section.items .price:before, section.totals .price:before {
  content: '$';
}

.btn-pos-payment, .cash-received {
  width: 100%;
  margin: 0 0 0.25em;
}

.payment-actions {
  padding: 0 0 0.5em;
  border-bottom: 2px solid #dbcebd;
}

.cash-received {
  text-align: right;
  font-family: $primaryMonospace;
}



section.totals .totals-label {
  padding-left: 25%;
  width: 45%;
  float: left;
  text-align: right;
}

section.totals .price-total {
  width: 30%;
  float: right;
}

section.totals li:nth-last-of-type(2) .price-total {
  border-bottom: 1px solid #dbcebd;
}

section.totals li:nth-last-of-type(1) .price-total {
  border-bottom: 2px solid #dbcebd;
}

.payment-type, .li-cart-item {
  cursor: pointer;
}

.opt-on-account {
  padding-top: 0.375em;
  padding-bottom: 0.325em;
}

.complete-transaction-buttons #clear-cart {
  width: 32%;
  margin-right: 0;
}

.complete-transaction-buttons #complete-transaction {
  width: 62%;
  margin-right: 6%;
}

.complete-transaction-buttons {
  display: flex;
  flex-wrap: wrap;
}








/*
  Reports - Sales
 */
section.sales-data {
  width: 49%;
  margin-right: 1%;
  float: left;
}

.sales-data h2 {
  padding-left: 0.5em;
  margin: 0.5em 0;
}

.sales-data tr td:nth-of-type(2) {
  width: 20%;
  text-align: center;
}

.sales-data tr td:nth-of-type(3) {
  width: 20%;
  text-align: right;
}

.reports-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.drop-down-kind {
  padding-top: 4px;
  padding-bottom: 4.2px;
  width: auto;
}

.reports-daily-cash td {
  width: 12%;
  text-align: center;
  padding: 0.5em 0.5em;
}

.reports-daily-cash td:nth-last-of-type(1) {
  width: 16%;
  text-align: right;
  padding-right: 2em;
}










/*
  Inventory
 */
.manage-category {
  margin: 1em 0;
  padding: 0;
}

.manage-category-header {
  background: #c3863c;
  margin: 0;
  padding: 0.3125em 0.375em;
}

.manage-category h2 {
  display: inline-block;
  font-size: 1.125em;
  line-height: 1.7em;
  margin: 0 0.75em;
  text-transform: capitalize;
}

.manage-category, .store-block {
  box-shadow: 0 0 10px #cdcdcd;
  border: 1px solid #e6e6e6;
}

.manage-category-items {
  margin: 0;
}

.manage-category-items ul {
  margin: 0;
  padding: 0.3125em 0.375em;
}

.manage-category-items ul:nth-of-type(odd) {
  background: #eddbc5;
}

.manage-category-items ul:nth-of-type(even) {
  background: #f9f3ec;
}

.manage-category-items li {
  display: inline-block;
  min-width: 12em;
  width: 30%;
  font-family: $primarySans;
}

.manage-category-items li:first-of-type {
  max-width: 5em;
  min-width: 0;
}

.price, li.price {
  text-align: right;
  font-family: $primaryMonospace;
}






/*
  Accounts
 */
.reports-accounts td:nth-of-type(3) {
  text-align: center;
}

.account-details {
  cursor: pointer;
}

.account-details:hover td {
  background: #dbb78a;
}

.trans-history {
  display: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.trans-history td {
  padding-bottom: 0.625em;
}

.trans-history h3 {
  margin: 0.375em 0 0.25em;
}

.trans-history li {
  display: inline-block;
  width: 25%;
  padding: 0.3125em 0.375em;
  border-top: 1px solid #dbcebd;
  border-right: 1px solid #dbcebd;
}

.trans-history li:first-of-type {
  border-left: 1px solid #dbcebd;
}

.trans-history ul:last-of-type li {
  border-bottom: 1px solid #dbcebd;
}

.trans-history-show {
  display: block;
}




/*
  Featured Items
 */
.action-buttons {
  padding: 0 1em;
}

.action-buttons select {
  padding: 2px 0.5rem 3px;
}

.action-buttons select, .action-buttons .btn {
  display: inline;
  width: auto;
}

.action-buttons select {
  margin-right: 1em;
}

.btn-edit-featured-item {
  margin-right: 0.25em;
}













/*
  Flags
 */
.flag {
  display: inline;
  text-align: center;
}

.in-dev, .in-production {
  display: block;
  margin-top: 0;
  font-size: 0.825em;
  font-weight: 700;
  color: #b30033;
}

.in-production {
  color: $grey-50;
  text-align: right;
}
