/*******************************************************************************
 * Additional store styles
 ******************************************************************************/




.card-payment-types {
  display: flex;
  padding: 0;
  margin: 0.25em 0 0.5em;
}

.card-payment-types li {
  width: 49%;
  text-align: center;
}

.card-payment-types li button {
  width: 100%;
  margin: 0;
}

.card-payment-types li:nth-last-of-type(1) {
  margin-left: 2%;
}
