/**
 * Styles for footers
 */






.hcs-site-footer {
  display: block;
  border: 1px solid blue;
}


.hsc-site-footer-logo {
  display: block;
  height: 3rem;
  float: right;
}

.hsc-site-footer-logo img {
  height: 100%;
}
