/**
 * Styles for headers
 */



.hcs-site-header-branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

.hcs-site-header-logo-and-title, .hcs-site-header-storefront {
  flex-grow: 1;
}

.hcs-site-header-logo-and-title span {
  display: inline-block;
  font-family: $primaryHeadings;
  font-size: 1.325rem;
}

.hcs-site-header-logo {
  height: 1rem;
}

.hcs-site-header-logo img {
  height: 100%;
  width: auto;
}

.hcs-site-header-storefront-name {
  font-size: 100%;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 0.25em;
}

.hcs-site-header-storefront a:visited,
.hcs-site-header-storefront a.color-text-visited,
.hcs-site-header-storefront a:visited i {
  color: $heritage-red;
};
