/**
 * Login Form
 */

.hcs-login-form {
  margin: 4em auto;
  max-width: 25em;
  padding: 0.5em 1.25em 2em;
  border: 1px solid #b3b3b3;
  box-shadow: 0 0 10px #cdcdcd;
  border-radius: 0.125rem;
}

.hcs-login-form h1, .hcs-login-form h2 {
  text-align: center;
}

.hcs-login-form .btn {
  width: 100%;
  margin-top: 2em;
  line-height: 1.7em;
}





/**
 * Logo inset with Sheild
 */
.hcs-logo-in-shield {
  margin: -1.5em auto 0;
  padding: 0.75em;
  width: 110px;
  height: 115px;
  border: 1px solid $grey-light-text;
  border-radius: 0 0 50px 50px;
  background: white;
}

.hcs-logo-in-shield img {
  display: block;
  width: 80px;
  margin: 0 auto;
}
