/**
 * Styles for Navigation
 *
 *
 *
 */



/*
General style for navigation
 */
.hcs-navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.hcs-navigation a, .hcs-navigation a:visited {
  display: block;
  color: #000;
}

.hcs-navigation li.active a {
  color: #fff;
}







/*
Top Level Site/Main Navigation
 */
.hcs-site-navigation {
  background: $hcs-gold-grey-90;
  border: 1px solid $hcs-gold-grey-75;
}

.hcs-site-navigation li {
  text-transform: uppercase;
}

.hcs-site-navigation li.active {
  background: $heritage-red;
}

.hcs-site-navigation a {
  padding: 0.325em 1.5em;
}



/*
Secondary Navigation
 */
.hcs-secondary-navigation {
  background: $heritage-complimentary-grey-95;
  border: 1px solid $heritage-complimentary-grey-75;
  border-top: none;
}

.hcs-secondary-navigation li {
  text-transform: capitalize;
}

.hcs-secondary-navigation li.active {
  border-top: $heritage-complimentary;
  border-bottom: $heritage-complimentary;
  background: $heritage-complimentary-grey-75;
}

.hcs-secondary-navigation li.active a {
  color: #000;
}

.hcs-secondary-navigation a {
  padding: 0.125em 1em;
}









/*
User Navigation
 */
.hcs-user-navigation {
  display: inline-block;
  font-size: 0.825em;
}

.hcs-user-navigation a {
  padding: 0 0.375em;
}

.hcs-user-navigation-icon {
  margin-top: 5px;
  font-size: 1.125em;
  text-align: right;
  color: $grey-25;
}

i[class*="fa-user"] {
  margin-right: 0.25em;
}
