/***********************************************
 * Modules | Transaction Receipt
 * Description: Styles specific to the transaction receipt block.
 **********************************************/
.transaction-receipt {
  position: relative;
  background: #f6eee4;
  padding: 0.25em 0.5em 0.5em;
}

.transaction-receipt,
.transaction-actions {
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .transaction-receipt,
  .transaction-actions {
    width: 70%;
  }
}

.transaction-receipt ul {
  padding: 0;
  margin: 0 auto;
}

.transaction-receipt header p:nth-last-of-type(1),
.transaction-receipt ul li {
  display: flex;
  justify-content: space-between;
}


.transaction-receipt ul li:nth-last-of-type(4) {
  padding-bottom: 0.5em;
}

.transaction-receipt ul li:nth-last-of-type(3) {
  padding-top: 0.5em;
  border-top: 2px solid #dbcedb;
}

.transaction-receipt ul li span:nth-last-of-type(1) {
  width: 8em;
  font-family: monospace;
  text-align: right;
}

.transaction-receipt ul li:nth-last-of-type(1) span:nth-last-of-type(1) {
  border-top: 1px solid #dbcebd;
  border-bottom: 2px solid #dbcebd;
}




/* VOID Watermark */
.watermark-is-voided {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey-75;
  opacity: 0.5;
  color: $grey-50;
  font-size: 5em;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.watermark-is-voided span {
  transform: rotate(345deg);
  letter-spacing: 0.2em;
}
