/**
 * Buttons
 */
.btn,
.btn-primary,
.btn:visited,
.btn-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  margin: 0.75em 0.5em 0 0;
  background-color: #ccc;
  border: 0;
  border-radius: 0.125rem;
  color: #4d4d4d;
  display: inline-block;
  font-family: $primaryBody;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  width: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

// Fixing button height in Firefox.
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary,
.btn-primary:visited {
  background-color: #b30033;
  color: #fff;
}

[type="button"],
[type="submit"] {
  border: none;
}

.btn:hover,
.btn-hover,
.btn:visited:hover,
.btn-primary:visited:hover,
button:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="image"]:hover {
  background-color: #b3b3b3;
  border: none;
  text-decoration: none;
  color: #4d4d4d;
}

.btn-primary:hover,
.btn-primary.btn-hover,
.btn-primary:hover:visited {
  background-color: #e40c49;
  text-decoration: none;
}

[type="button"]:hover,
[type="submit"]:hover,
[type="button"]:focus,
[type="submit"]:focus {
  cursor: pointer;
  border: none;
}

.btn:focus,
.btn-focus,
.btn-primary:focus,
.btn:visited:focus,
.btn-primary:visited:focus,
button:focus,
[type="button"]:focus,
[type="submit"]:focus,
[type="reset"]:focus,
[type="image"]:focus {
  box-shadow: 0 0 3px #b57027, 0 0 7px #b57027;
  border: none;
}

.btn-primary:focus,
.btn-primary:focus:visited {
  box-shadow: 0 0 3px #b57027, 0 0 7px #b57027;
}

.btn:active,
.btn-active,
.btn-active:active,
.btn-primary:active,
.btn:visited:active,
.btn-primary:visited:active,
button:active,
[type="button"]:active,
[type="submit"]:active,
[type="reset"]:active,
[type="image"]:active {
  background-color: #999999;
}

.btn-primary:active,
.btn-primary.btn-active,
.btn-primary:active:visited {
  background-color: #862d46;
}

.btn-disabled,
.btn-disabled:visited,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  background-color: #8c8c8c;
  color: #4d4d4d;
  box-shadow: none;
  cursor: auto;
}

.btn-big {
  padding: 0.825em 1.5em;
  font-size: 1.125em;
}

.btn-small {
  font-size: 0.75em;
  padding: 0.35em 0.825em;
}

.btn-edit {
  margin: 0;
}






/*
Multibuttons
 */
.multibuttons {
  border: 1px solid $heritage-complimentary-grey;
  border-radius: 2px;
}

.multibuttons li {
  border-right: 1px solid $heritage-complimentary-grey;
}

.multibuttons li:last-of-type {
  border-right: none;
}

.multibuttons li:hover {
  background: $heritage-complimentary-grey-90;
}

.multibuttons li:focus, .multibuttons li:active {
  background: $heritage-complimentary-grey-75;
}
