/**
 * Default Styles for checkboxes and radio buttons.
 */
input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
  font-weight: 400;
}








/* Re-creating the actual checkbox */
// Default empty checkbox style.
[type="checkbox"] + label::before,
[type="radio"] + label::before {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #fff;
  box-shadow: 0 0 0 2px $grey-50;
  //border: 1px solid $grey-50;
  border-radius: 0.2rem;
  content: '\a0';
  display: inline-block;
  margin-right: 0.625em;
  vertical-align: middle\0;
}

// Some over rides for radio buttons.
[type="radio"] + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px $grey-50;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 100%;
}

// When the buttons get checked
[type="checkbox"]:checked + label::before,
[type="radio"]:checked + label::before {
  background-color: $heritage-complimentary;
  box-shadow: 0 0 0 1px $heritage-complimentary;
}

// Add a checkmark icon
[type="checkbox"]:checked + label::before {
  content: '\f00c';
  font-family: FontAwesome;
  text-align: center;
  color: #fff;
}

// Extra line around a radio button when it gets checked.
[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $heritage-complimentary;
}

// When in focus (highlighted)
[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px $heritage-complimentary;
}

[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $heritage-complimentary, 0 0 3px 4px $highlight, 0 0 7px 4px $highlight;
}








// Button is disabled.
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: $heritage-complimentary-grey;
}

[type="checkbox"]:disabled + label::before,
[type="radio"]:disabled + label::before {
  background: #e3e8e6;
  box-shadow: 0 0 0 1px #b9c6bf;
  cursor: not-allowed;
}
