.site-footer-stats {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #fff;
}

.site-footer-stats p {
  margin: 0;
}

.dev-stats, .dev-flags {
  text-align: center;
  color: $grey-medium;
  opacity: 0.25;
}

.dev-flags {
  color: $heritage-red;
}
