/*
Default input styles for Input, Textarea and select boxes.
 */
input,
textarea,
select,
fieldset {
  display: block;
  appearance: none;
  outline: none;
  margin: 0.25em 0;
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
  line-height: 1.3em;
  width: 100%;
  max-width: 46rem;
  border-radius: 0.125rem;
  border: 1px solid $grey-50;
}

input:hover,
textarea:hover,
select:hover {
  border: 1px solid $grey-50;
}

input:focus,
textarea:focus,
select:focus,
.input-focus {
  box-shadow: 0 0 5px $highlight;
  border: 1px solid $grey-50;
}

input:active,
textarea:active,
select:active {
  box-shadow: 0 0 5px #b57027;
  border: 1px solid $grey-50;
}

.input-success, .input-success:hover {
  border: 3px solid $highlight-green;
}

/* Input error messaging */
.input-error input,
.input-error textarea,
.input-error select {
  border: 3px solid $highlight-red;
}

.input-error-message {
  color: $highlight-red;
  display: block;
  padding: 5px 0;
  font-weight: 700;
}




input[readonly="readonly"] {
  background: $heritage-complimentary-grey-90;
}


input[type="password"] + a.show-password {
  font-size: 0.75em;
}
