/**
 * Style Guide - Select Boxes
 */






select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn-accounts {
  width: 100%;
  max-width: 20em;
  margin: 0 0 0.25em;
}
