/**
 * TABLES
 */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px 1px #cdcdcd;
}


/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eddbc5;
}

tr:nth-of-type(even) {
  background: #f9f3ec;
}

/* Zebra striping with pull down for each row */
.tbl-accordion tr:nth-of-type(4n+1) {
  background: #eddbc5;
}

.tbl-accordion tr:nth-of-type(2n+2) {
  background: #fff;
}

.tbl-accordion tr:nth-of-type(4n+3) {
  background: #f9f3ec;
}



th, td {
  max-width: 25%;
  padding: 0.3125em 0.375em;
}

th {
  background: #c3863c;
  font-family: $primaryBody;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.7em;
}

th[scope*='row'] {
  background: inherit;
}
