/**
 * Style Guide for Heritage College and Seminary
 * Grid framework
 *
 *
 */









.grid,
.grid-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.grid::after,
.grid-full::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 600px) {
  .grid .width-one-whole,
  .grid-full .width-one-whole {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .grid .width-one-whole:last-child,
  .grid-full .width-one-whole:last-child {
    margin-right: 0;
  }
  .grid .width-one-half,
  .grid-full .width-one-half {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  .grid .width-one-half:last-child,
  .grid-full .width-one-half:last-child {
    margin-right: 0;
  }
  .grid .width-one-third,
  .grid-full .width-one-third {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  .grid .width-one-third:last-child,
  .grid-full .width-one-third:last-child {
    margin-right: 0;
  }
  .grid .width-two-thirds,
  .grid-full .width-two-thirds {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
  }
  .grid .width-two-thirds:last-child,
  .grid-full .width-two-thirds:last-child {
    margin-right: 0;
  }
  .grid .width-one-fourth,
  .grid-full .width-one-fourth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  .grid .width-one-fourth:last-child,
  .grid-full .width-one-fourth:last-child {
    margin-right: 0;
  }
  .grid .width-one-fourth:nth-child(2n),
  .grid-full .width-one-fourth:nth-child(2n) {
    margin-right: 0;
  }
  .grid .width-three-fourths,
  .grid-full .width-three-fourths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .grid .width-three-fourths:last-child,
  .grid-full .width-three-fourths:last-child {
    margin-right: 0;
  }
  .grid .width-one-sixth,
  .grid-full .width-one-sixth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  .grid .width-one-sixth:last-child,
  .grid-full .width-one-sixth:last-child {
    margin-right: 0;
  }
  .grid .width-one-sixth:nth-child(3n),
  .grid-full .width-one-sixth:nth-child(3n) {
    margin-right: 0;
  }
  .grid .width-five-sixths,
  .grid-full .width-five-sixths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
  }
  .grid .width-five-sixths:last-child,
  .grid-full .width-five-sixths:last-child {
    margin-right: 0;
  }
  .grid .width-one-twelfth,
  .grid-full .width-one-twelfth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
  }
  .grid .width-one-twelfth:last-child,
  .grid-full .width-one-twelfth:last-child {
    margin-right: 0;
  }
  .grid .width-one-twelfth:nth-child(3n),
  .grid-full .width-one-twelfth:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1201px) {
  .grid .width-one-whole,
  .grid-full .width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .grid .width-one-whole:last-child,
  .grid-full .width-one-whole:last-child {
    margin-right: 0;
  }
  .grid .width-one-half,
  .grid-full .width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .grid .width-one-half:last-child,
  .grid-full .width-one-half:last-child {
    margin-right: 0;
  }
  .grid .width-one-third,
  .grid-full .width-one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .grid .width-one-third:last-child,
  .grid-full .width-one-third:last-child {
    margin-right: 0;
  }
  .grid .width-two-thirds,
  .grid-full .width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .grid .width-two-thirds:last-child,
  .grid-full .width-two-thirds:last-child {
    margin-right: 0;
  }
  .grid .width-one-fourth,
  .grid-full .width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .grid .width-one-fourth:last-child,
  .grid-full .width-one-fourth:last-child {
    margin-right: 0;
  }
  .grid .width-one-fourth:nth-child(2n),
  .grid-full .width-one-fourth:nth-child(2n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .grid .width-one-fourth:nth-child(2n):last-child,
  .grid-full .width-one-fourth:nth-child(2n):last-child {
    margin-right: 0;
  }
  .grid .width-one-fourth:nth-child(4n),
  .grid-full .width-one-fourth:nth-child(4n) {
    margin-right: 0;
  }
  .grid .width-three-fourths,
  .grid-full .width-three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .grid .width-three-fourths:last-child,
  .grid-full .width-three-fourths:last-child {
    margin-right: 0;
  }
  .grid .width-one-sixth,
  .grid-full .width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .grid .width-one-sixth:last-child,
  .grid-full .width-one-sixth:last-child {
    margin-right: 0;
  }
  .grid .width-one-sixth:nth-child(3n),
  .grid-full .width-one-sixth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .grid .width-one-sixth:nth-child(3n):last-child,
  .grid-full .width-one-sixth:nth-child(3n):last-child {
    margin-right: 0;
  }
  .grid .width-one-sixth:nth-child(6n),
  .grid-full .width-one-sixth:nth-child(6n) {
    margin-right: 0;
  }
  .grid .width-five-sixths,
  .grid-full .width-five-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .grid .width-five-sixths:last-child,
  .grid-full .width-five-sixths:last-child {
    margin-right: 0;
  }
  .grid .width-one-twelfth,
  .grid-full .width-one-twelfth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .grid .width-one-twelfth:last-child,
  .grid-full .width-one-twelfth:last-child {
    margin-right: 0;
  }
  .grid .width-one-twelfth:nth-child(3n),
  .grid-full .width-one-twelfth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .grid .width-one-twelfth:nth-child(3n):last-child,
  .grid-full .width-one-twelfth:nth-child(3n):last-child {
    margin-right: 0;
  }
  .grid .width-one-twelfth:nth-child(12n),
  .grid-full .width-one-twelfth:nth-child(12n) {
    margin-right: 0;
  }
}

.grid .end-row,
.grid-full .end-row {
  margin-right: 0;
}

.grid {
  padding: 0 1rem;
}

.grid-full {
  padding: 0;
}
